<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if @game.current_player == @game.player1 %>
    <%= @game.player1.name %> attacked <%= @game.player2.name %>
    <% else %>
    <%= @game.player2.name %> attacked <%= @game.player1.name %>
    <% end %>
    <form action="/switch-turns" method="post">
      <input type="submit" value="OK">
    </form>
  </body>
</html>
