<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @game.player1.name %> attacked <%= @game.player2.name %>
    <a href="/play">OK</a>
  </body>
</html>
