<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/names" method="post">
      <label for="player1_name">
        Player 1 name
        <input type="text" name="player1_name">
      </label>
      <label for="player2_name">
        Player 2 name
        <input type="text" name="player2_name">
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
